@CHARSET "UTF-8";

html, body{
    margin: 0;
    font-family:'NanumBarunGothic';
    text-decoration: none;
}

div{
display:block;
font-family:'NanumBarunGothic';
text-decoration: none;
}

li{
	text-decoration:none;
}

button{
	cursor: pointer;
	border-color:#e1e1e1;
}

a{
	cursor: pointer;
	text-decoration: none;	
}