@CHARSET "utf-8";
.all {
	width: 80%;
	margin-left: 10%;
}

.top {
	width: 100%;
	height: 300px;
}

.top1 {
	background-size: 100% 100%;
	height: 220px;
	position: relative;
	top: 0px;
	left: 0px;
}

.top2 {
	position: absolute;
	top: 35px;
	left: 15px;
	width: 100%;
}

.top_in1 {
	float: left;
	width: 36%;
	height: 180px;
}

.top_in1_1 {
	float: left;
	width: 48%;
	height: 180px;
}

.top_in1_2 {
	float: left;
	width: 50%;
	height: 180px;
}

.top_in2 {
	float: left;
	width: 60%;
	height: 180px;
	border-left: solid #E6E6E6;
}

.m5 {
	border: solid #E6E6E6;
	width: 28%;
	height: 100px;
	float: left;
	margin-left: 2%;
}

.m6 {
	border: solid #E6E6E6;
	width: 28%;
	height: 100px;
	float: left;
	margin-left: 2%;
}

.m7 {
	border: solid #E6E6E6;
	width: 28%;
	height: 100px;
	float: left;
	margin-left: 2%;
}

#modalLayer {
	display: none;
	position: relative;
}

#modalLayer .modalContent {
	width: 500px;
	height: 360px;
	padding: 20px;
	border: 1px solid #ccc;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 11;
	background: #fff;
}

#modalLayer .modalContent button {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	border: none;
}
.inn{
	margin-top: 2%; 
	margin-left: 5%; 
	float: left;
	
}
.mm{
	margin-top: 2%; 
	float: left;"
	
}
.sidebar {
	margin-left:10%;
	width: 15%;
	height: 400px;
	margin-top: -20px;
	float: left;
}

.sideBar_1{
	margin-left: 10%;
}
.sideBar_2{
	margin-left: 20%;
}
.sideBar_3{
	margin-left: 10%; 
	border-top: solid #E6E6E6;
}

